# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [96]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [97]:
# Your code here:
salaries = pd.read_csv('../dataset/Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [98]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [99]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [100]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [101]:
salaries.groupby('Department').count()

,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,
ADMIN HEARNG,39,39,39,39,0,39,0
ANIMAL CONTRL,81,81,81,81,19,62,19
AVIATION,1629,1629,1629,1629,1082,547,1082
BOARD OF ELECTION,107,107,107,107,0,107,0
BOARD OF ETHICS,8,8,8,8,0,8,0
BUDGET & MGMT,46,46,46,46,2,44,2
BUILDINGS,269,269,269,269,0,269,0
BUSINESS AFFAIRS,171,171,171,171,7,164,7
CITY CLERK,84,84,84,84,0,84,0
CITY COUNCIL,411,411,411,411,64,347,64
COMMUNITY DEVELOPMENT,207,207,207,207,4,203,4
COPA,116,116,116,116,0,116,0
CULTURAL AFFAIRS,65,65,65,65,7,58,7
DISABILITIES,28,28,28,28,0,28,0
DoIT,99,99,99,99,0,99,0
FAMILY & SUPPORT,615,615,615,615,287,328,287
FINANCE,560,560,560,560,44,516,44
FIRE,4641,4641,4641,4641,2,4639,2
GENERAL SERVICES,980,980,980,980,765,215,765
HEALTH,488,488,488,488,3,485,3
HUMAN RELATIONS,16,16,16,16,0,16,0
HUMAN RESOURCES,79,79,79,79,4,75,4
INSPECTOR GEN,87,87,87,87,0,87,0
LAW,407,407,407,407,40,367,40
LICENSE APPL COMM,1,1,1,1,0,1,0
MAYOR'S OFFICE,85,85,85,85,8,77,8
OEMC,2102,2102,2102,2102,1273,829,1273
POLICE,13414,13414,13414,13414,10,13404,10
POLICE BOARD,2,2,2,2,0,2,0
PROCUREMENT,92,92,92,92,2,90,2
PUBLIC LIBRARY,1015,1015,1015,1015,299,716,299
STREETS & SAN,2198,2198,2198,2198,1862,336,1862
TRANSPORTN,1140,1140,1140,1140,725,415,725
TREASURER,22,22,22,22,0,22,0
WATER MGMNT,1879,1879,1879,1879,1513,366,1513

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [102]:
salaries.rename(columns={'Salary or Hourly':'Salary_Hourly'},inplace=True)

In [103]:
# H0: hourly wage of hourly workers is very different from 30$/hr
from scipy.stats import ttest_1samp
from scipy.stats import t
hourly_rate = salaries[salaries.Salary_Hourly=='Hourly']['Hourly Rate']
len(hourly_rate)

8022

In [104]:
ttest_1samp(hourly_rate,30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [24]:
t.interval(0.95,df=8021)

(-1.9602597859561675, 1.9602597859561675)

In [25]:
t.interval(0.95,df=8021)[1]

1.9602597859561675

In [29]:
# The statistic value is greater than 1.96 than is not 30$/h
# The pvalue is small than 5% = 0.05 we can reject the hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [40]:
# hypothesis: salaries in the police force this year are higher than last year's mean of $86000/year for all salaried employees
sample1 = salaries[(salaries.Salary_Hourly=='Salary') & (salaries.Department=='POLICE')]['Annual Salary']
len(sample1)

13404

In [41]:
ttest_1samp(sample1,86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

In [42]:
t.interval(0.95,13403)

(-1.9601409957936242, 1.9601409957936242)

In [43]:
"""pvalue=0.002<0.025=(1-confidence_interval)/2 because it's one sided test thant we reject the hypothesis"""

'pvalue=0.002<0.05=1-confidence_interval thant we reject the hypothesis'

Using the `crosstab` function, find the department that has the most hourly workers.

In [125]:
# Your code here:
pd.crosstab(salaries.Department,salaries.Salary_Hourly)[['Hourly']].sort_values('Hourly',ascending=False)

Salary_Hourly          Hourly
Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
BUSINESS AFFAIRS            7
CULTURAL AFFAIRS            7
COMMUNITY DEVELOPMENT       4
HUMAN RESOURCES             4
HEALTH                      3
PROCUREMENT                 2
FIRE                        2
BUDGET & MGMT               2
HUMAN RELATIONS             0
INSPECTOR GEN               0
DoIT                        0
LICENSE APPL COMM           0
DISABILITIES                0
COPA                        0
CITY CLERK                  0
POLICE BOARD                0
BUILDINGS                   0
BOARD OF ETHICS             0
BOARD OF ELECTION           0
TREASURER                   0
ADMIN HEARNG                0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [126]:
# departement with most hourly workers is 'STREETS & SAN'
# null hypothesis is that hourly wage is less than 35$/h for Street & San departement
# lets do the ttest
sample2 = salaries[(salaries.Department=='STREETS & SAN') & (salaries.Salary_Hourly=='Hourly')]['Hourly Rate']
sample2

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [77]:
ttest_1samp(sample2,35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [78]:
# 95% confidence interval
t.interval(0.95,df=1861)

(-1.9612395292071623, 1.9612395292071623)

In [127]:
confidence_interval=t.interval(0.95,df=1861)

In [ ]:
#null hypothesis is that hourly wage is less than 35$/h for Street & San departement
"Since statistic=-9.56<confidence_interval[0] than we reject the null hypothesis.

"

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [92]:
#95% confidence interval for the mean hourly wage of all hourly workers

#all hourly workers
hourly_worker=salaries[salaries.Salary_Hourly=='Hourly']['Hourly Rate']
std = hourly_worker.std()
avg = hourly_worker.mean()
t.interval(0.95,df=8021,loc=avg,scale=std/8021**0.5)

(32.523441820068605, 33.05367361249396)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [118]:
# 95% confidence interval for all salaried employeed in the police

sample3 = salaries[(salaries.Department=='POLICE') & (salaries.Salary_Hourly=='Salary')]['Annual Salary']
size3 = len(sample3)
avg3 = sample3.mean()
std3 = sample3.std()
t.interval(0.95,df=size3-1,loc=avg3,scale=std3/size3**0.5)

(86177.05631531785, 86795.77269094893)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.